{% extends "layout.html" %}
{% block title %}Project Dashboard{% endblock %}
{% block content %}

<h1>Projects overview</h1>

<h3>My Projects:</h3>
<table class="tables">
    <tr>
        <th>Project name</th>
        <th>Project description</th>
        <th>Project URL</th>
        <th>Grade</th>
        <th></th>
    </tr>
    {% for project in project_info_list %}
        {% if project.selected %}
            <tr>
                <td>{{ project.project_name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.project_url or 'N/A' }}</td>
                <td>{{ project.grade or 'N/A' }}</td>
                <td>
                    <a href="{{ url_for('edit_project', idea_id=project.idea_id) }}">
                        <button type="button">Edit Project</button>
                    </a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<h3>Bookmarked Projects:</h3>
<table class="tables">
    <tr>
        <th>Project name</th>
        <th>Project description</th>
    </tr>
    {% for project in project_info_list %}
        {% if project.bookmarked %}
            <tr>
                <td>{{ project.project_name }}</td>
                <td>{{ project.description }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock %}
