{% extends "layout.html" %}
{% block title %}{{ idea.project_name }}{% endblock %}
{% block content %}

    <h1>{{ idea.project_name }}</h1>
    <h3>By User: {{ idea.user_id }}</h3>

    <p><strong>Full Description:</strong></p>
    <p>{{ idea.description }}</p>

<form action="{{ url_for('bookmark_project', idea_id=idea.idea_id) }}" method="post" class="inline-form">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <button type="submit">Bookmark Project</button>
</form>

<form action="{{ url_for('select_project', idea_id=idea.idea_id) }}" method="post" class="inline-form">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <button type="submit">Select Project</button>
</form>

{% endblock %}
